body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

button.btn-back {

    margin: 20px;
    background-color: black;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Darker background on mouse-over */
.btn-back:hover {
    background-image: linear-gradient(to right, #ff00d4, #00ddff);
}

button.btn-add {
    margin: 20px;
    background-color: black;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    /* width: 100px; */
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.btn-add:hover {
    background-image: linear-gradient(to right, #ff00d4, #00ddff);
}


a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
    text-decoration: none;
}



#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;


}

#customers td,
#customers th {
    border: 1px solid rgb(121, 120, 120);
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: purple;
    color: white;
}

.addB {
    width: 10%;
    background-color: black;
    border: none;
    border-radius: 5px;
    padding: 12px 10px;
    color: white;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.addB:hover {
    background-image: linear-gradient(to right, #ff00d4, #00ddff);
}


h1 {
    line-height: 1;
}

h3 {
    color: white;
    margin-top: 15px;
}

p {
    font-size: 16px;
    margin-bottom: 40px;
}

span {
    color: red;
}

.logo {
    width: 200px;
    padding: 15px;
    height: 100px;
    border-radius: 20px;
}

.header {
    display: flex;
    font-size: 25px;
}

.half-width {
    width: 50%;
    padding: 100px;
    margin-left: 15px;
}

.half-width:hover img {
    transform: scale(1.3);
    transition: transform .8s ease-in-out;
}

.half-width img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.link-button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to right, orange, tomato);
    background-color: orange;
    padding: 10px 20px;
    border-radius: 30px;
}

/* footer section */
footer {
    background: purple;

    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding-bottom: 30px;
    padding-top: 30px;
}

footer p {
    font-weight: 400;
    font-size: 12px;
}

.footer-logo img {
    margin-left: 680px;
    padding: 20px;
    width: 10%;
    height: 10%;
    object-fit: contain;
}

.footer-icon {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-bottom: 20px;
}

.fa-youtube {
    color: red;
}

.footer-icon a {
    margin-left: 10px;
}

.bar1 {
    height: 40px;
    background-color: #40B176;
}

.bar2 {
    height: 100px;
    box-shadow: 2px gray;
}

.bar3 {
    height: 100px;




}

.fontw {
    font-weight: 700;
}

.flexible {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ml {
    margin-left: 110px;
}

.support-service {
    width: 50%;
}

.all-support {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.support-services {
    display: flex;
    color: black;
}

.support-services p {
    margin-left: 10px;
}

.support-services img {
    width: 46px;
    height: 46px;
}

.support-services a {
    color: black;
}

.support-services a:hover {
    color: red;
}

.partition {
    display: flex;

}

body {
    background-color: #F5F5F5;
}

.menu {
    color: rgb(44, 28, 28);
    font-weight: 1000;
    line-height: 55px;
    font-size: larger;
}

.container3 {
    margin: auto;
    width: 100%;
    background: #FFFFFF;
    /* border: 5px solid black; */
    display: flex;
}

.container3 a {
    text-decoration: none;
    display: block;

}

.link1 {
    background-color: white;
    width: 30% !important;
    height: 300px;
    padding: 25px;
    border: 1px solid gray;
}

.link2 {
    background-color: white;
    width: 70%;
    padding: 50px;


}

.link1 a {
    text-decoration: none !important;
}

.link1 a:hover {
    color: red !important;
}

ul {
    display: flex;
    justify-content: flex-start;

}

.logo {
    width: 150px;
    /* padding: 15px; */
    height: 120px;
    border-radius: 50px;
}


footer p {
    font-weight: 400;
    font-size: 17px;
}

.navdecor {
    list-style: none;
    height: 70px;
    align-items: center;
    justify-content: space-around;


}


.navdecor li:hover {
    list-style: none;
    background-image: linear-gradient(to right, #ff00d4, #00ddff);
    border-radius: 10px;

}



.clinicliststyle {
    justify-content: space-evenly;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    border-radius: 20px;


}

.cbody {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    /* padding: 20px; */
    width: 250px;
    height: 400px;
    transition-duration: .5s;
    transition-timing-function: ease;
    transition-delay: .1s;
    transition-timing-function: ease-in-out;

}

.cbody:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    /* padding: 20px; */
    width: 300px;
    height: 450px;
    color: white;
    background-image: linear-gradient(to top, #00ff8c, #00ddff);
    /* transition: ease-out;
    color: white;
    background-image: linear-gradient(to right, #ff00d4, #00ddff);
    /* background-color: purple; */
}




.lform-modal {

    background-color: purple;
    padding: 20px;
    width: 100%;
    color: white;



}